.bloque-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .footer-bg{
    background:rgb(148, 146, 146);
} */

.footer-input{
    display: flex;
    flex-direction: row;
}

.margin-footer{
    margin-top: 2em;
}

.margin2-footer {
    margin-top: 2em;
}

.caja-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sub-caja-footer{
    display: flex;
    flex-direction: row;
}

.sub-caja-footer >ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sub-caja-footer >ul>li {
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: small;
    color: rgb(53, 53, 53);
}

.sub-caja-footer>ul>.footer-color {
    font-weight: bold;
    color: black;
}

.sub-caja-footer>ul>.footer-input {
    display: flex;
    flex-direction: column;
}

.caja-redes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.caja-redes > ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.caja-redes>ul>li {
    color: black;
}

.icono-footer {
    font-size: 20px;
    color: grey;
}

.caja-redes2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.div-icono-footer{
    margin-left: 0.75em;
    margin-right: 0.75em;
}


.sub-caja-footer2 {
    display: flex;
    flex-direction: column;
}

.sub-caja-footer2>.footer-color{
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    font-weight: bold;
    margin-top: 1.1em;
}


.bg-footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(103, 123, 230, 1) 0%, rgba(116, 82, 171, 1)77%);
    border: none;
    cursor: pointer;
}

.icono2-footer {
    font-size: 20px;
    color: white;
}

