.fondo{
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(103, 123, 230, 1) 0%, rgba(116, 82, 171, 1)77%);
}

.logo{
    width: 60px;
    height: 50px;
    margin: 0.1em;
}

.caja{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

ul >li{
    list-style: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size:small;
    color: white;
    margin: 0 1em 1em 1em;
    cursor: pointer;
}

ul > li > .Link{
    text-decoration: none;
    color: white;
}

.div-icono{
    display: flex;
    flex-direction: row;
}

.div-icono > li{
    color:white;
    list-style: none;
    font-family:Verdana,
    Geneva,
    Tahoma,
    sans-serif;
    font-weight: bold;
    font-size:small;
    cursor: pointer;
}

.icono{
    font-size: 20px;
    color:white;
}


