.bloque-Card {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: rgba(241, 241, 241, 0.527);
}

.bloque-Card>.caja-Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.caja-Card2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 7em;
}

.caja-tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    gap: 1em;
    padding: 1em;
}

.card-margin {
    margin-top: 2em;
}

.Card-h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}

.Card-p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height : 2em;
}

.shadow{
    border-radius: 5px;
    box-shadow: -1px 4px 5px 6px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: -1px 4px 5px 6px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: -1px 4px 5px 6px rgba(0, 0, 0, 0.26);
}

.icono-cajita{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: rgba(226, 223, 223, 0.432);
}

.icono-cajita2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(103, 123, 230, 1) 0%, rgba(116, 82, 171, 1)77%);
}

.icono-card {
    font-size: 40px;
    color: rgb(2, 0, 36);
}

.icono-card2 {
    font-size: 40px;
    color: white;
}

@media (max-width: 600px) {
    .Card-p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-size: 1.2em;
    }

    .Card-h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 1.5em;
    }

    .caja-tarjeta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1em;
        padding: 1em;
    }

    .shadow {
        box-shadow: none;
    }
}

@media (max-width: 800px) {
    .shadow {
        box-shadow: none;
    }

    .caja-tarjeta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1em;
        padding: 1em;
    }

    .caja-Card2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 1em;
    }

    .Card-p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-size: 1.2em;
    }

    .Card-h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 1.5em;
    }
}
