.bloque-Chose {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: rgba(241, 241, 241, 0.527);
    padding: 2em;
    height: 50vh;
}

.caja-chose{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.margin-chose{
    margin-top: 2em;
    margin-bottom: 2em;
}

.caja-chose2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

.chose-h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}

.chose-p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 2em;
}

.img-tarjetasChose{
    width: 40%;
    height: 40%;
}

@media (max-width: 600px) {
    .chose-h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        text-align: center;
    }

    .chose-p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        line-height: 2em;
    }

    .img-tarjetasChose {
        width: 70%;
        height: 70%;
    }

    .margin-chose {
        margin-top: 1em;
        margin-bottom: 2em;
    }
}

@media (max-width: 800px) {
    .chose-h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        text-align: center;
    }

    .chose-p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        line-height: 2em;
        font-size: 1.2em;
    }

    .img-tarjetasChose {
        width: 50%;
        height: 50%;
    }

    .margin-chose {
        margin-top: 1em;
        margin-bottom: 2em;
    }

    
}