.bloque-Intro{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5em;
}

.bloque-Intro > .caja-Intro {
    display: flex;
    justify-content: center;
}

.Intro-margin{
    margin-top: 6em;
}

.Intro-margin-btn{
    margin-top: 2em;
    margin-bottom: 5em;
}

.btn{
    width: 150px;
    height: 40px;
    background:rgb(220, 214, 230);
    font-family:Verdana,Geneva,Tahoma,sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color:rgb(2, 0, 36);   
    cursor: pointer;
}

.card-img{
    width: 35%;
    height: 35%;
}

.Intro-h1{
    font-family:Verdana,Geneva,Tahoma,sans-serif;
    font-weight: bold;
    text-align: center;
    color:white;
}

.Intro-h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    line-height : 2em;
}

@media (max-width: 600px) {
    .Intro-margin {
        margin-top: 0.25em;
    }

    .Intro-margin-btn {
        margin-top: 0.25em;
        margin-bottom: 1em;
    }

    .Intro-h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        text-align: center;
        color: white;
        font-size: 1.5em;
        padding: 0.5em;
    }

    .Intro-h3 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        text-align: center;
        color: white;
        font-size: 1.2em;
        padding: 0.5em;
    }

    .card-img {
        width: 50%;
        height: 50%;
    }
}

