.bloque-Movil {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: rgba(219, 217, 217, 0.527);
    padding: 2em;
    height: 75vh;
}

.caja-movil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.caja-movil2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.h4-img{
    position: absolute;
    z-index: 1;
    margin-top: 20em;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    font-weight: bold;
    text-align: center;
}

.movil-h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}

.movil-p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: start;
    line-height : 2em;
}

.img-punto{
    width: 35%;
    height: 40%;
    position:absolute;
    z-index: 1;
}

.img-iphone {
    width: 30%;
    height: 80%;
    position: absolute;
    z-index: -1;
}

.btn-movil{
    width: 150px;
    height: 40px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(103, 123, 230, 1) 0%, rgba(116, 82, 171, 1)77%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color:white;
    cursor: pointer;
}


@media (max-width: 800px) {
    .img-punto {
        width: 30%;
        height: 30%;
        position: absolute;
        z-index: 1;
    }

    .img-iphone {
        width: 35%;
        height: 60%;
        position: absolute;
        z-index: -1;
    }

    .movil-h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 1.5em;
    }

    .movil-p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-size: 1.2em;
        line-height : 2em;
    }
}

@media (max-width: 600px) {
    .caja-movil2 {
        display: none;
    }

    .caja-movil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .bloque-Movil {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background: rgba(219, 217, 217, 0.527);
        padding: 2em;
        height: 75vh;
    }
}

