form{
    background: rgb(197, 185, 185);
    margin-bottom: 0.75em;
}

form> div >h1{
    text-align: center;
}

.form-group{
    display: flex;
    flex-direction: row;
    padding: 1em;
    flex-wrap: wrap;
    justify-content: space-around;
}

.form-group> div{
    gap: 1em;
}

.form-group> div>label{
    margin-right: 0.75em;
    margin-bottom: 0.75em;
}

.form-group> div> input{
    margin-bottom: 0.75em;
    margin-right: 0.75em;
    width: 150px;
    height: 30px;
    border:1px solid rgb(63, 70, 138);
    border-radius: 5px;

}

.submit-caja{
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-caja > input{
    width: 150px;
    height: 40px;
    background: rgb(3, 27, 247);
    color:white;
    font-family: Verdana,
    Geneva,
    Tahoma,
    sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0.5em;
}