.bloque-userDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bloque-userDetail > .caja-detail{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-top: 1em;
    justify-content: center;
    align-items: center;
}

.bloque-userDetail>.caja-detail2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin-top: 1em;
    justify-content: center;
    align-items: center;
}

.bloque-userDetail>div>h1{
    font-family: Verdana,
    Geneva,
    Tahoma,
    sans-serif;
    font-weight: bold;
}

.bloque-userDetail>.caja-detail> div{
    background: rgba(204, 201, 201, 0.692);
    border-radius: 5px;
}

.bloque-userDetail>.caja-detail>div>h3 {
    text-align: center;
    color: rgb(197, 185, 185);
    font-family: Verdana,
    Geneva,
    Tahoma,
    sans-serif;
}

.bloque-userDetail>.caja-detail>div>h3>strong {
    text-align: center;
    color: black;
    font-family: Verdana,
    Geneva,
    Tahoma,
    sans-serif;
}

.btn-user-update {
    width: 150px;
    height: 40px;
    background: rgb(247, 100, 3);
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1em;
    margin-top: 1em;
}

.btn-user-delete {
    width: 150px;
    height: 40px;
    background: rgb(247, 3, 3);
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1em;
    margin-top: 1em;
}

.form-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}





