.bloque-users{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-top: 1em;
}

.bloque-user{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: rgba(224, 223, 223, 0.74);
}

.bloque-user> div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
    width: 80%;
}

.bloque-user >div> h3{
    margin-top: 2px;
    margin-bottom: 2px;
}

.btn-user {
    width: 150px;
    height: 40px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(103, 123, 230, 1) 0%, rgba(116, 82, 171, 1)77%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1em;
    margin-top: 1em;
}

.btn-user > .link{
    text-decoration: none;
    color: white;
}